//
// Fonts
//

@import "../../eadtraining/scss/fonts";
@import "fonts";

//
// Bootstrap variables
//

// Prefix for all CSS variables
$prefix: bs- !default;

// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #8f959e !default;
$gray-600: #6a737b !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #1d2125 !default;
$black:    #000 !default;

$blue:    #0f6cbf !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #db1a74 !default;
$red:     #ca3120 !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #357a32 !default;
$teal:    #20c997 !default;
$cyan:    #008196 !default;

$primary:       $blue !default;
$secondary:     $gray-400 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$top_scroll_background_color: $primary !default;

// stylelint-disable
$theme-colors: () !default;
$theme-colors: map-merge((
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
), $theme-colors);
// stylelint-enable

// Fonts
$font-size-base: 0.9375rem !default;

// Links
$link-decoration: none !default;

// Border radius
$border-radius: .5rem !default;
$border-radius-lg: .6rem !default;

// HR
$hr-opacity: .15 !default;

// Breadcrumbs
$breadcrumb-padding-y:      .5rem !default;
$breadcrumb-margin-bottom:  0 !default;

// Tables
$table-striped-bg-factor: .03 !default;

// Cards
$card-group-margin: .25rem;

// Inputs
$focus-ring-opacity: .75 !default;
$input-border-color: var(--#{$prefix}gray-500) !default;
$form-check-input-border: var(--#{$prefix}border-width) solid var(--#{$prefix}gray-500) !default;

// Dropdowns
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;

// Popovers
$popover-max-width: 300px !default;

// Spacers
$spacer: 1rem !default;
$spacers: (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 2),
        6: ($spacer * 3)
) !default;

$navbar-height: 60px !default;

// Behat site specific variable values.
$behatsite: false !default;
$enable-transitions: not $behatsite !default;
$enable-smooth-scroll: not $behatsite !default;

// Import FontAwesome.
$fa-version: "6.3.0" !default;
@import "../../eadtraining/scss/fontawesome/brands";
@import "../../eadtraining/scss/fontawesome/regular";
@import "../../eadtraining/scss/fontawesome/solid";
@import "../../eadtraining/scss/fontawesome/v4-shims";
@import "../../eadtraining/scss/fontawesome/fontawesome";

// Import All of Bootstrap
@import "../../eadtraining/scss/bootstrap/bootstrap";

// Import Core moodle CSS
// Old Moodle stuff from base theme.
// Massive, needs broken up.
@import "../../eadtraining/scss/moodle/variables";
@import "../../eadtraining/scss/moodle/core";
@import "../../eadtraining/scss/moodle/action-menu";
@import "../../eadtraining/scss/moodle/icons";
@import "../../eadtraining/scss/moodle/admin";
@import "../../eadtraining/scss/moodle/blocks";
@import "../../eadtraining/scss/moodle/calendar";
@import "../../eadtraining/scss/moodle/contentbank";
@import "../../eadtraining/scss/moodle/course";
@import "../../eadtraining/scss/moodle/coursemanagement";
@import "../../eadtraining/scss/moodle/courselisting";
@import "../../eadtraining/scss/moodle/courseoverview";
@import "../../eadtraining/scss/moodle/modchooser";
@import "../../eadtraining/scss/moodle/drawer";
@import "../../eadtraining/scss/moodle/filemanager";
@import "../../eadtraining/scss/moodle/message";
@import "../../eadtraining/scss/moodle/question";
@import "../../eadtraining/scss/moodle/user";
@import "../../eadtraining/scss/moodle/search";
@import "../../eadtraining/scss/moodle/forms";
@import "../../eadtraining/scss/moodle/login";
@import "../../eadtraining/scss/moodle/modules";
@import "../../eadtraining/scss/moodle/reports";
@import "../../eadtraining/scss/moodle/backup-restore";
@import "../../eadtraining/scss/moodle/tables";
@import "../../eadtraining/scss/moodle/buttons";
@import "../../eadtraining/scss/moodle/grade";
@import "../../eadtraining/scss/moodle/templates";
@import "../../eadtraining/scss/moodle/undo";
@import "../../eadtraining/scss/moodle/debug";
@import "../../eadtraining/scss/moodle/sticky-footer";
@import "../../eadtraining/scss/moodle/popover-region";
@import "../../eadtraining/scss/moodle/tool_usertours";
@import "../../eadtraining/scss/moodle/print";
@import "../../eadtraining/scss/moodle/modal";
@import "../../eadtraining/scss/moodle/layout";
@import "../../eadtraining/scss/moodle/prefixes";
@import "../../eadtraining/scss/moodle/atto";
@import "../../eadtraining/scss/moodle/toasts";
@import "../../eadtraining/scss/moodle/navbar";
@import "../../eadtraining/scss/moodle/reportbuilder";
@import "../../eadtraining/scss/moodle/courseindex";
@import "../../eadtraining/scss/moodle/frontpage";
@import "../../eadtraining/scss/moodle/moremenu";
@import "../../eadtraining/scss/moodle/primarynavigation";
@import "../../eadtraining/scss/moodle/secondarynavigation";
@import "../../eadtraining/scss/moodle/tertiarynavigation";
@import "../../eadtraining/scss/moodle/process-monitor";
@import "../../eadtraining/scss/moodle/moodlenet";
@import "../../eadtraining/scss/moodle/dropdown";
@import "../../eadtraining/scss/moodle/task-indicator";
@import "../../eadtraining/scss/moodle/acctoolbar";
@import "../../eadtraining/scss/moodle/minicolors";
@import "../../eadtraining/scss/moodle/format-block";

// EadFlix
@import "eadflix/admin";
@import "eadflix/blocks";
@import "eadflix/course";
@import "eadflix/drawer";
@import "eadflix/search";
@import "eadflix/login";
@import "eadflix/sticky-footer";
@import "eadflix/popover-region";
@import "eadflix/modal";
@import "eadflix/layout";
@import "eadflix/navbar";
@import "eadflix/courseindex";
@import "eadflix/primarynavigation";
@import "eadflix/acctoolbar";
@import "eadflix/format-block";

// EadFlix Dark
@import "eadflix/dark";

//
// Preset CSS
//
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

// Rounded user pictures
.userpicture {
    border-radius: 50%;
}

// Reset the default styling back to the bootstrap defaults for
// the secondary outline button because gray-200 is much too light
// for an outline button.

$info-outline:    #1f7e9a;
$warning-outline: #a6670e;

.btn-outline-secondary {
    @include button-outline-variant($gray-600);
    border-color: $gray-600;
}

.btn-outline-info {
    @include button-outline-variant($info-outline);
}

.btn-outline-warning {
    @include button-outline-variant($warning-outline);
}
