@media (min-width: 768px) {
    body {
        padding-top: 0 !important;
    }
    #page.drawers {
        padding: 0;
        margin: 0 0 0 100px;
    }
    .drawer-toggles .drawer-toggler.drawer-left-toggle {
        top: 73px;
        .btn {
            padding-left: 115px !important;
        }
    }
}
#page.drawers {
    background: transparent !important;
    .main-inner {
        padding: 0;
        margin: 0;
        max-width: 98.7%;
    }
}
